/********************************* 
  css/fonts.css
*********************************/
/*********************************
개요
기본 글꼴: 구글 웹폰트 사용
-영문: Inter
-한글: Noto Sans KR */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

@font-face {
  font-family: 'RixYeoljeongdo_Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


html {font-family:'Inter','Noto Sans KR',sans-serif;}


.text2, .text2-1 {

  font-family: 'RixYeoljeongdo_Regular';
}