/*----------------------------- 헤더 전체 컨테이너 박스 --------------------------------*/

.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

/*------------- 마퀴태그효과 ---------------*/

/* 컨테이너 */
.marquee--wrap {
  width: 5000px;
  height: 36px;
}

/* 마퀴 배경색 */
.marquee--bg-bar {
  background-color: #000000;
}

/* 감싸는 ul부분 */
.marquee--list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 80%;
}

/* li 요소들 */
.list__item {
  width: 4%;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  padding: 0px 2px;
  color: #fff;
  font-size: 12px;
  line-height: 36px;
}

/*------------- 헤더 ---------------*/

header {
  width: 100%;
  height: 184px;
  background-color: #202020;
}

/*----------------------------*/
/*----------------------------*/
/*----------------------------*/

/* ---로고/최상단메뉴/내정보--- */
.header-top {
  display: flex;
  margin-top: 45px;
  margin-left: 40px;
  width: 100%;
}

/* 로고 */
.header-top a img {
  width: 133px;
  height: 78px;
}

/* 최상단메뉴 */
.header--menu-top {
  width: 600px;
  height: 70px;
}

.header--menu-top li {
  display: flex;
}

/* new.svg */
.header--menu-top li img {
  margin-left: -40px;
}

.header--menu-top li > a {
  display: block;
  text-align: center;
  line-height: 75px;
  font-weight: 500;
  font-size: 20px;
  margin-right: 47px;
  color: #fff;
}

:root {
  --transition: all 400ms;
  --shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
}

.header--menu-top li a {
  transition: var(--transition);
  cursor: pointer;
}

/* '신상품' 글자 */
.header--menu-top li a:first-child {
  margin-left: 51px;
}

.header--menu-top li a:first-child:hover {
  text-shadow: var(--shadow);
}

/* 'TV' 글자 */
.header--menu-top a:nth-child(3) {
  margin-left: 42px;
}

.header--menu-top a:nth-child(3):hover {
  text-shadow: var(--shadow);
}

/* 매거진 글자 */

.header--menu-top a:nth-child(4):hover {
  text-shadow: var(--shadow);
}

/* 기획전/이벤트 글자 */

.header--menu-top a:last-child:hover {
  text-shadow: var(--shadow);
}

/*----------------------------*/
/*----------------------------*/
/*----------------------------*/

/* 내정보(로그인,마이페이지,장바구니) */
.header--info {
  width: 100%;
}

.info {
  display: flex;
  float: right;
  margin-top: 12px;
  width: 1077px;
  height: 50px;
}

.header--info a {
  display: block;
  color: #fff;
  font-size: 13px;
  line-height: 50px;
}

.header--info img {
  width: 18px;
  height: 15px;
  margin-top: 17px;
  margin-right: 5px;
  margin-left: 10px;
}

/*----------------------------*/
/*----------------------------*/
/*----------------------------*/

/* 구분선과 서치아이콘 */

/* 구분선 */
.header--line-container {
  position: absolute;
  width: 100%;
  height: 60px;
  border-bottom: 1px #747474 solid;
}

.header--line {
  position: fixed;
  width: 95%;
  height: 60px;
}

/* 검색입력창 */
.search-txt {
  position: relative;
  top: 25px;
  float: right;
  right: 10px;
  background-color: #202020;
  border-radius: 10px;
  border: 1px #a4a4a467 solid;
  color: #fff;
}

.search-box {
  margin-right: 55px;
}

/* 서치아이콘 */
.search img {
  position: relative;
  top: 28px;
  right: 2px;
  float: right;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/*------------------------------네비게이션-------------------------------------------------------------------- */

/* 네비 배경색 */
.navbg {
  position: absolute;
  z-index: 400;
  width: 100%;
  height: 54px;
  background-color: #202020;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  overflow: hidden;
}

/* ---------------네비바------------- */
.nav {
  display: inline-block;
  position: relative;
  cursor: default;
  z-index: 500;
  width: 100%;
  margin-left: 1px;
}

/* -------//메인메뉴(오른쪽)//------- */

/* 정렬 */
.main-right {
  display: flex;
  position: absolute;
  right: 40px;
  margin-left: 210px;
}

/* 디자인 */
.main-right li a {
  position: relative;
  display: block;
  z-index: 510;
  height: 54px;
  padding: 0 20px;
  line-height: 54px;
  font-weight: bold;
  font-size: 15px;
  color: #fcfcfc;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
  background: #202020;
}

/* ------------------------------------ */

/* ---메인메뉴 가로 정렬--- */
.nav > li {
  display: block;
  float: left;
}

/* 메인메뉴 디자인 */
.nav > li > a {
  position: relative;
  display: block;
  z-index: 510;
  height: 54px;
  padding: 0 20px;
  line-height: 54px;
  font-weight: bold;
  font-size: 15px;
  color: #fcfcfc;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.35);

  background: #202020;
  border-right: 1px solid #444444;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* 메인메뉴 호버 */
.nav > li:hover > a {
  background: #77777757;
  text-shadow: 0 -1px 4px #000000, 0 -2px 10px #ff0, 0 -10px 20px #ff8000,
    0 -18px 40px #f00;
}

.nav > li:hover > a:last-child {
  background: #77777757;
  text-shadow: 0 0 5px #000000, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffdd1b,
    0 0 35px #ffdd1b, 0 0 40px #ffdd1b, 0 0 50px #ffdd1b, 0 0 75px #ffdd1b;
}

/* 메인메뉴 호버시 메뉴가 보이도록 */
.nav > li:hover > div {
  opacity: 1;
  visibility: visible;
  overflow: visible;
}

/* 서브메뉴박스(숨겨져있음) */
.nav > li > div {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  width: 100%;
  top: 54px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  background: #ffffff;
  border-radius: 0 0 3px 3px;

  -webkit-transition: all 0.3s ease 0.15s;
  -moz-transition: all 0.3s ease 0.15s;
  -o-transition: all 0.3s ease 0.15s;
  -ms-transition: all 0.3s ease 0.15s;
  transition: all 0.3s ease 0.15s;
}

/* grid 2행으로 쪼개기(정렬) */
.nav-column > ul {
  grid-row: 2;
}

/* 서브메뉴당 차지하고 있는 너비 */
.nav .nav-column {
  width: 70%;
  padding: 1%;
}

/* ----------------------------------------- */

/* ---------------텍스트 효과--------------- */

.nav .nav-column h3 {
  line-height: 30px;
  border-bottom: 1px #312a27 solid;
  font-weight: bold;
  font-size: 20px;
  color: #444242;
  text-transform: uppercase;
}

/* 정렬을 위한 컴포넌트 클래스 */

.nav-column h2 {
  display: block;
  position: absolute;
  font-size: 25px;
  font-weight: bold;
}

.padding {
  padding-top: 55px !important;
}

.fl {
  float: left;
}

/* 타마시이네이션즈 */
.h2-margin-1 {
  margin-top: 10px;
  display: inline-block;
  width: 600px;
  margin-left: 15px;
}

/* 반프레스토 */
.h2-margin-2 {
  margin-top: 10px;
  position: fixed;
  display: inline-block;
  width: 700px;
  right: -30px;
}

/*------------------------------------------------------------ */

/* 서브메뉴 하위 작은 텍스트 */
.nav .nav-column li a {
  display: block;
  line-height: 26px;

  font-weight: bold;
  font-size: 14px;
  color: #888888;
}

/* 서브메뉴 하위 텍스트 호버 */
.nav .nav-column li a:hover {
  color: #303030;
}

@media (max-width: 1756px) {
  .h2-margin-2 {
    right: -90px;
  }
}

@media (max-width: 1756px) {
  .h2-margin-2 {
    right: -165px;
  }
}

@media (max-width: 1600px) {
  .h2-margin-2 {
    right: -145px;
  }
}

@media (max-width: 1348px) {
  .h2-margin-2 {
    right: -230px;
  }
}

@media (max-width: 1039px) {
  .h2-margin-2 {
    right: -345px;
  }
}

/*--------------------------캐러셀 슬라이드 1-------------------------*/
/*------------------------------------------------------------------*/

.main-slider-1 {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: 450px;
}

.firstSwiper {
  position: relative;
  transform: translate(0, -50%);
  width: 90%;
  height: 90vh;
  text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px,
    #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px,
    #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.slide1-button-prev,
.slide1-button-next {
  --swiper-theme-color: #ffffff7e;
}

.slide1-pagination {
  position: absolute;
  --z-index: 100;

}


.slider1-bg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

:root {
  --object-fit: cover;
  --width: 100%;
  --height: 100%;
}

.slide1-main-text {
  position: absolute;
  color: #fff;
  font-size: clamp(3rem, 8vh, 4rem);
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  text-shadow: -4px 3px 0 #3a50d9, -14px 7px 0 #0a0e27,
    3px -3px 6px rgba(0, 0, 0, 0.88);
}

.slide1-sub-text {
  position: absolute;
  color: #fff;
  font-size: clamp(2rem, 6vh, 4rem);
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 10;
  text-shadow: 3px 0 0 rgba(255, 0, 255, 1), -3px 0 0 rgba(0, 255, 255, 1);
}

.slide-text {
  letter-spacing: 20px;
}



/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*----------------캐러셀 슬라이드 2 & gunpla 문 열기-------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/

.main-slider-2 {
  position: relative;
  top: 0px;
  width: 100%;
  height: 1500px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 1) 79%,
    rgba(0, 0, 0, 0) 100%
  );
}

.gunplalogo {
  margin: 0 auto;
  filter: drop-shadow(0px 3px 20px #000);
  margin-bottom: 100px;
}

.door {
  display: flex;
  position: absolute;
  justify-content: center;
  margin-top: 50px;
  overflow: hidden;
  z-index: 10;
}

.secondSwiper {
  position: absolute;
  top: 50px;
  width: 560px;
  height: 730px;
}

.slide2-bg {
  text-align: center;
  font-size: 18px;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.secondSwiper .swiper-pagination-bullet {
  background: url(../images/shevron.svg);
  background-size: cover;
  border-radius: initial;
  width: 30px;
  height: 40px;
  margin: 0 10px !important;
}

/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------캐러셀 슬라이드 3--------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/

.main-slider-3 {
  width: 100%;
  height: 100%;
}

.thirdSwiper-container {
  position: relative;
  width: 100%;
  height: 650px;
  background-color: #646464;
}

.thirdSwiper {
  position: absolute;
  top: 25px;
  width: 80%;
  height: 500px;
}

.slide3-bg {
  background: #fff;
}


.slide3-button-next {

}





/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*----------------------------- 푸터--------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/

.footer-container {
  position: relative;
  top: 500px;
}

footer {
  position: relative;
  color: white;
  height: 400px;
  width: 100%;
  background-color: #000000;
}

/* 푸터 첫번째 행 */
footer .footer--firstrow {
  display: flex;
  padding: 25px;
  padding-top: 30px;
  border-bottom: 1px #686868 solid;
}

/* 푸터로고이미지 */
footer .footer--firstrow > span {
  width: 150px;
  cursor: pointer;
}

footer .footer--firstrow .footer--right {
  width: 100%;
}

footer .footer--firstrow .footer--rightflex {
  display: flex;
  margin-top: 2px;
  float: right;
  margin-right: 170px;
}

/* 단어 사이 구분선 */
footer .footer--firstrow .footer--rightflex p:nth-child(n + 2) {
  position: relative;
  margin-left: 10px;
  padding-left: 10px;
}

footer .footer--firstrow .footer--rightflex p:nth-child(n + 2)::after {
  position: absolute;
  left: 0;
  top: 4px;
  content: "";
  width: 1px;
  height: 15px;
  background-color: rgb(255, 255, 255);
}

/* ---------------- */

/* 푸터 두번째 행 */
footer .footer--secondrow {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-right: 35px;
  padding-bottom: 25px;
  border-bottom: 1px #686868 solid;
}

footer .footer--secondrow .service-center {
  padding-left: 25px;
}

/* -------------고객센터------------- */

/* 고객센터 제목 */
footer .footer--secondrow .service-center > h3 {
  font-size: 25px;
}

footer .footer--secondrow .service-center p {
  color: #606060;
}

/* 바로가기 버튼 */
footer .footer--secondrow .service-center .shortcuts {
  font-size: 15px;
}

footer .footer--secondrow .service-center .shortcuts button {
  border: 1px #606060 solid;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 25px;
  margin-right: 10px;
  transition: all 500ms;
}

footer .footer--secondrow .service-center .shortcuts button:hover {
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
}

footer .footer--secondrow .footer--text {
  color: #606060;
}

footer .footer--secondrow .footer--text .text-end {
  margin-top: 10px;
}

footer .footer--secondrow .related-sites {
  text-align: center;
  line-height: 144px;
  margin-right: 50px;
}

footer .footer--secondrow .related-sites ul > span {
  border: 1px #606060 solid;
  padding: 15px 40px;
}

/* ----------------------------------*/

/* 푸터 세번째 행 */
footer .footer--thirdrow {
  display: flex;
  width: 100%;
  height: 26%;
}

footer .copyright {
}

footer .copyright ul > span {
  border: 1px #606060 solid;
  padding: 15px 40px;
  margin-left: 25px;
}

footer .copyright ul > span a {
  line-height: 104px;
}

footer .sns-box {
  position: absolute;
  line-height: 104px;
  margin-top: 52px;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer .sns-box i {
  width: 50px;
  font-size: 25px;
  color: #888888;
  transition: all 500ms;
  cursor: pointer;
}

footer .sns-box i:hover {
  color: #ffffff;
}
