body {
}


/*----------------------------- 헤더 전체 컨테이너 박스 --------------------------------*/

.wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*------------- 마퀴태그효과 ---------------*/

/* 컨테이너 */
.marquee--wrap {
  width: 5000px;
  height: 36px;
}

/* 마퀴 배경색 */
.marquee--bg-bar {
  background-color: #606060;
}

/* 감싸는 ul부분 */
.marquee--list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 80%;
}

/* li 요소들 */
.list__item {
  width: 4%;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  padding: 0px 2px;
  color: #fff;
  font-size: 12px;
  line-height: 36px
}


/*------------- 헤더 ---------------*/

header {
  width: 100%;
  height: 184px;
  background-color: #383838;
}

/*----------------------------*/
/*----------------------------*/
/*----------------------------*/



/* ---로고/최상단메뉴/내정보--- */
.header-top {
  display: flex;
  margin-top: 45px;
  margin-left: 40px;
  width: 100%;
}

/* 로고 */
.header-top a img {
  width: 133px;
  height: 78px;
}

/* 최상단메뉴 */
.header--menu-top {
  width: 600px;
  height: 70px;

}

.header--menu-top li {
  display: flex;
}

/* new.svg */
.header--menu-top li img {
  margin-left: -40px;
}


.header--menu-top li>a {
  display: block;
  text-align: center;
  line-height: 75px;
  font-weight: 500;
  font-size: 20px;
  margin-right: 47px;
  color: #fff;
}

/* '신상품' 글자 */
.header--menu-top a:first-child {
  margin-left: 51px;
}

/* 'TV' 글자 */
.header--menu-top a:nth-child(3) {
  margin-left: 42px;
}

/*----------------------------*/
/*----------------------------*/
/*----------------------------*/



/* 내정보(로그인,마이페이지,장바구니) */
.header--info {
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
}

.info {
  margin-top: 12px;
  width: 100%;
  height: 50px;
}

.info-box {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 90px;
}

.header--info a {
  display: block;
  color: #fff;
  font-size: 13px;
  margin-right: 10px;
  line-height: 50px;
}

.header--info img {
  width: 18px;
  height: 15px;
  margin-right: 5px;
  margin-left: 10px;
}

/*----------------------------*/
/*----------------------------*/
/*----------------------------*/


/* 구분선과 서치아이콘 */

/* 구분선 */
.header--line-container {
  position: fixed;
  width: 100%;
  height: 60px;

}

.header--line {
  position: fixed;
  width: 95%;
  height: 60px;
  margin-left: 40px;
  border-bottom: 1px #dadada solid;
}

/* 검색입력창 */
.search-txt {
  position: relative;
  top: 25px;
  float: right;
  right: 8px;
  background-color: #383838;
  border-radius: 10px;
  border: 1px #a4a4a467 solid;
  color: #fff;
}

/* 서치아이콘 */
.search img {
  position: relative;
  top: 28px;
  right: 2px;
  float: right;
  width: 20px;
  height: 20px;
  cursor: pointer;
}


/*------------------------------네비게이션-------------------------------------------------------------------- */


/* 네비 배경색 */
.navbg {
  position: absolute;
  z-index: 400;
  width: 100%;
  height: 54px;
  background-color: #383838;
  overflow: hidden;
}

/* ---------------네비바------------- */
.nav {
  display: inline-block;
  position: relative;
  cursor: default;
  z-index: 500;
  width: 100%;
  margin-left: 40px;
}



/* -------//메인메뉴(오른쪽)//------- */

/* 정렬 */
.main-right {
  display: flex;
  position: fixed;
  right: 40px;
  margin-left: 210px;
}

/* 디자인 */
.main-right li a {
  position: relative;
  display: block;
  z-index: 510;
  height: 54px;
  padding: 0 20px;
  line-height: 54px;
  font-weight: bold;
  font-size: 15px;
  color: #fcfcfc;
  text-shadow: 0 0 1px rgba(0, 0, 0, .35);
  background: #383838;
}

/* ------------------------------------ */

/* ---메인메뉴 가로 정렬--- */
.nav>li {
  display: block;
  float: left;
}


/* 메인메뉴 디자인 */
.nav>li>a {
  position: relative;
  display: block;
  z-index: 510;
  height: 54px;
  padding: 0 20px;
  line-height: 54px;
  font-weight: bold;
  font-size: 15px;
  color: #fcfcfc;
  text-shadow: 0 0 1px rgba(0, 0, 0, .35);

  background: #383838;
  border-left: 1px solid #4b4441;
  border-right: 1px solid #312a27;

  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}


/* 메인메뉴 호버 */
.nav>li:hover>a {
  background: #77777757;
}


/* 메인메뉴 호버시 메뉴가 보이도록 */
.nav>li:hover>div {
  opacity: 1;
  visibility: visible;
  overflow: visible;
}

/* 서브메뉴박스(숨겨져있음) */
.nav>li>div {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  width: 100%;
  top: 54px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;

  background: #ffffff;
  border-radius: 0 0 3px 3px;

  -webkit-transition: all .3s ease .15s;
  -moz-transition: all .3s ease .15s;
  -o-transition: all .3s ease .15s;
  -ms-transition: all .3s ease .15s;
  transition: all .3s ease .15s;
}

/* grid 2행으로 쪼개기(정렬) */
.nav-column>ul {
  grid-row: 2;
}

/* 서브메뉴당 차지하고 있는 너비 */
.nav .nav-column {
  width: 70%;
  padding: 1%;
}

/* ----------------------------------------- */





/* ---------------텍스트 효과--------------- */

.nav .nav-column h3 {
  line-height: 30px;
  border-bottom: 1px #312a27 solid;
  font-weight: bold;
  font-size: 20px;
  color: #444242;
  text-transform: uppercase;
}


/* 정렬을 위한 컴포넌트 클래스 */


.nav-column h2 {
  display: block;
  position: absolute;
  font-size: 25px;
  font-weight: bold;
}

.padding {
  padding-top: 55px !important;
}

.fl {
  float: left;
  ;
}

/* 타마시이네이션즈 */
.h2-margin-1 {
  margin-top: 10px;
  display: inline-block;
  width: 600px;
  margin-left: 15px;
}

/* 반프레스토 */
.h2-margin-2 {
  margin-top: 10px;
  position: fixed;
  display: inline-block;
  width: 700px;
  right: -30px;
}



/*------------------------------------------------------------ */


/* 서브메뉴 하위 작은 텍스트 */
.nav .nav-column li a {
  display: block;
  line-height: 26px;

  font-weight: bold;
  font-size: 14px;
  color: #888888;
}

/* 서브메뉴 하위 텍스트 호버 */
.nav .nav-column li a:hover {
  color: #303030;
}





@media (max-width: 1756px) {

  .h2-margin-2 {
    right: -90px;
  }

}

@media (max-width: 1756px) {

  .h2-margin-2 {
    right: -165px;
  }

}

@media (max-width: 1348px) {

  .h2-margin-2 {
    right: -230px;
  }

}

@media (max-width: 1039px) {

  .h2-margin-2 {
    right: -345px;
  }

}